h1,p,body{
  margin:0;

}

p,a{
  font: size： 20px;
}
header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: rgb(255, 255, 255);
}
main {
  padding: -10px;
}
#parent {
  display: flex;
  justify-content: space-around;
}
.content {
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 25px;
  text-decoration: underline 3px doteed rgb(236, 122, 122);
}
h2::before{
  content: "●";
  color:rgb(239, 111, 139)
}

.content p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);

}
  .content img { 
    margin: 10px 0;
    width: 70%;

  }

  footer{
    background-color: rgb(244, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 a{
  color: rgb(255, 255, 255);
 }

 a:visited{
  color: rgb(255, 255, 255);
 }

 a:hover{
  color: rgb(245, 178, 168);
 }

 @media screen and (max-width: 768px) {
  div {
    display: block;
}
   h2 {
    font-size: 39px;
   }
   p {
    font-size: 25px;
   }
   #parent {
    flex-direction: column;

   }
  }

 



